@font-face {
  font-family: "HK Grotesk Light";
  font-weight: 300;
  src: url("../fonts/HKGrotesk-Light.otf");
}
// @font-face {
//   font-family: "HK Grotesk Regular";
//   font-weight: 400;
//   src: url("../fonts/HKGrotesk-Regular.otf");
// }
@font-face {
  font-family: "HK Grotesk Medium";
  font-weight: 500;
  src: url("../fonts/HKGrotesk-Medium.otf");
}
// @font-face {
//   font-family: "HK Grotesk Bold";
//   font-weight: 600;
//   src: url("../fonts/HKGrotesk-Bold.otf");
// }

@font-face {
  font-family: "Sectra Bold";
  font-weight: 600;
  src: url("../fonts/GT-Sectra-Fine-Trial-Bold.otf");
}
